 
<div class="row">
  <div class="col-md-4 col-md-offset-4">
       <h1>Create new Task</h1>
       
       <%= form_for @task, url: tasklist_tasks_path(tasklist_id: @task.tasklist_id), method: :post do |f| %>

      <div class="form-group">
          <%= f.label   :name , class: "control-label col-sm-2"%>
          <div class="col-sm-8 col-sm-offset-2"><%= f.text_field :name , class: "form-control"  %></div>
      </div>
      <div class="form-group">
          <%= f.label :description , class: "control-label col-sm-2" %>
         <div class="col-sm-8 col-sm-offset-2"> <%= f.text_field :description , class: "form-control "  %></div>
      </div>
      <div class="form-group">
          <%= f.label :duedate , class: "control-label col-sm-2" %>
         <div class="col-sm-8 col-sm-offset-2"> <%= f.text_field :duedate , class: "form-control" %></div>
       </div>
       <div class="form-group">
          <%= f.label :priority , class: "control-label col-sm-2" %>
         <div class="col-sm-8 col-sm-offset-2"> <%= f.text_field :priority , class: "form-control" %></div>
      </div>

      <%= f.hidden_field :status, :value => "In progress" %>


      <div id="newButtons">

      <%= link_to 'Back to tasklist', tasklist_path(id: @task.tasklist_id), class: "btn btn-primary pull-left" %>  

      <%= f.submit "Create Task" , class: "btn btn-success pull-right" %>
        
      </div>

      <% end %>

      
  </div>
</div>

  <script>

        var form = document.getElementById("new_task");
        form.className += " form-horizontal";
        console.log(form.className);
      
  </script>
